__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
# raw instrument & huge intermediates (keep outside repo or upload elsewhere)
*.itax
*.itm
*.itmx
*.ita
*.imzML
*.ibd
*/working_extraction/**pySPM_source/

# Environment dir: ignore everything except the lockfile
env/**
!env/
!env/requirements-lock.txt
