__pycache__/
.ipynb_checkpoints/
env/
*.pyc
*.pyo
# raw instrument & huge intermediates (keep outside repo or upload elsewhere)
*.itax
*.itm
*.itmx
*.ita
*.imzML
*.ibd
*/working_extraction/**pySPM_source/
